

.form1  {
   background-color: aliceblue;
   margin-right:10%;
   margin-left:10%;
   margin-top:5%;
   border-radius: 2px;
   padding:3%;
  }
 
 .error_message
 {
color:#bf55ec;
 }
 .form-control
 {
border :2px solid #bf55ec;
 }
 .wrapper1
 {
margin-bottom: 5%;
 }
 .b1
 {
   margin-right: 15%;
   margin-left: 22%;
  }
  .b11
  {
   
    margin-left: 22%;
   }